:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1752be34;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  text-align: center;
  color: red;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
