:root {
  box-sizing: border-box;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
